<div id="about" class="about">
    <div class="about-container">
        <%- include("partials/header") -%>

            <h1 class="about-title">About</h1>
    </div>
    <div class="container about-container2">
        <div>
            <h1 class="about-subtitle">We are non <br> Profit <span>Team</span></h1>
            <h3 class="about-subtitle">We are <br> <span>Volunteers</span></h3>

        </div>
        <div class="about-image">
            <img src="\images\about.png">
                
        </div>
    </div>

    <%- include("partials/footer"); -%>
