<div id="contact" class="about">
    <div class=" about-container">
        <%- include("partials/header") -%>

            <h1 class="about-title">Contact</h1>
            <br>
            <br>
            <br>
    </div>
    <div class="container about-container2">
        <div class="contact-title">
            <h2 class="contact-subtitle">Contact Info</h2>
            <p class="about-info">Get ready to see the better world!</p>
            <div class="contact-info top">
                <i class="fas fa-envelope"></i>
                <p class="contact-detail">Email<br>
                    getintouchwith@hope.com</p>
            </div>
            <div class="contact-info">
                <i class="fas fa-phone-alt"></i>
                <p class="contact-detail">Phone<br>
                    +1 (954) 363-4689</p>
            </div>
            <div class="contact-info">
                <i class="fas fa-map-marker-alt"></i>
                <p class="contact-detail">Address<br>
                    2781 Morningview Lane,<br>
                    New York, NY 10011</p>
            </div>
        </div>
        <div class="about-image contact-form">
            <h2 class="contact-subtitle">Send us your <span>Feedback</span></h2>
            <form class="" action="/" method="post">



                <input class="name" type="text" placeholder="Name">
                <input class="email" type="email" name="email" placeholder="Email">
                <input class="subject" type="text" placeholder="Subject">
                <input class="message" type="text" placeholder="Message">
                <br>
                <br>
              <button type="submit" class="btn btn-warning">Send Message</button>
                <!-- <a class="home-link2 contact-link" href="http://">Send Message</a> -->
            </form>
        </div>
    </div>
</div>

<%- include("partials/footer"); -%>
