<div id="home" class="home">
    <%- include("partials/header"); -%>
        <div class="container">
          <div class="slider-img"><img src="assets/images/slider/slider-1.jpg" alt=""></div>
            <div class="home-container">
                <h1>Hope for<br> Humunity</h1>
                <h3>Give a helping hand to those who need it!</h3>
                <h3>Improving life, one breath at a <span>time.</span></h3>
                <a class="home-link2" href="/donate">Donate now</a>
            </div>
        </div>
</div>







<%- include("partials/footer"); -%>
